* {
	margin: 0;
	padding: 0;
}

.hide-object {
	display: none;
}

.zero-stage {
	background-image: url('img/winter.gif');
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.register {
	background-image: url('img/register.gif');
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.radio-character {
	transform: scale(1.5);
}

.fight-with-enemy {
	width: 100%;
	height: 100vh;
	background-image: url('img/dark_forest.png');
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.defeated-the-any-enemy {
	width: 100%;
	height: 100vh;
	background-image: url('img/taven.png');
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.lost-to-the-enemy {
	width: 100%;
	height: 100vh;
	background-image: url('img/mountains.png');
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.health-booster-puzzle {
	width: 100%;
	height: 100vh;
	background-image: url('img/history_town.png');
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.figth-with-ice-boss {
	width: 100%;
	height: 100vh;
	background-image: url('img/ice_aren.png');
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.prize-game {
	width: 100%;
	height: 100vh;
	background-image: url('img/prize.png');
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.lost-to-the-ice-boss {
	width: 100%;
	height: 100vh;
	background-image: url('img/lost-to-the-ice-boss.jpg');
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.mysterious-event-one,
.mysterious-event-two,
.mysterious-event-three {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#btn-start-tic-tac-toe {
	font-size: 32px;
	background: blueviolet;
	color: black;
	border: 1px solid white;
	border-radius: 15px;
	box-shadow: 5px 5px 5px white;
	text-shadow: none;
}

#div-tic-tac-toe {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#whose-move-tic-tac-toe {
	font-size: 60px;
	font-weight: bold;
	font-style: italic;
	text-align: center;
}

#table-tic-tac-toe {
	border-collapse: collapse;
}

#table-tic-tac-toe td {
	width: 250px;
	height: 250px;
	border: 6px solid black;
	font-size: 125px;
	font-weight: bold;
	font-style: italic;
	text-align: center;
}

#table-tic-tac-toe td:hover {
	background-color: rgba(241, 241, 241, 0.3);
}

.popup-tic-tac-toe {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	top: 0;
	left: 0;

	opacity: 0;
	visibility: hidden;
	transition: all 0.8s ease 0s;
}

.popup-tic-tac-toe.open {
	opacity: 1;
	visibility: visible;
}

.popup-tic-tac-toe.open .popup-content-tic-tac-toe {
	transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
	opacity: 1;
}

.popup-body-tic-tac-toe {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;
	transition: all 0.8s ease 0s;
}

.popup-content-tic-tac-toe {
	text-align: center;
	background-color: rgb(96, 96, 96);
	color: black;
	max-width: 800px;
	padding: 30px;

	border-radius: 30px;
	border: 1px solid black;
	box-shadow: 5px 5px 5px gray;
	text-shadow: none;

	position: relative;
	transition: all 0.8s ease 0s;
	opacity: 0;
	transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

#answer-who-won-tic-tac-toe {
	font-size: 64px;
	font-weight: bold;
	font-style: italic;
	color: black;
}

#div-text-lost,
#div-text-win {
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#character-form {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#character-form label,
input {
	font-size: 36px;
	font-weight: bold;
	font-style: italic;
	color: black;
}

.btn-answer-mysterious-question-one,
.btn-answer-mysterious-question-two,
.btn-answer-mysterious-question-three,
.btn-treatment-character,
#btn-restart-tic-tac-toe,
#btn-transition-to-the-tic-tac-toe,
#btn-transition-to-the-register,
#btn-start-mysterious-way,
#submit-register-character,
#btn-attack-enemy,
#btn-attack-weak-enemy,
#btn-attack-ice-boss,
#btn-confirmation-who-won {
	margin: 10px;
	background: blueviolet;
	color: black;
	border: 1px solid white;
	border-radius: 15px;
	box-shadow: 5px 5px 5px white;
	text-shadow: none;
}

.btn-answer-mysterious-question-one:hover,
.btn-answer-mysterious-question-two:hover,
.btn-answer-mysterious-question-three:hover,
.btn-treatment-character:hover,
#btn-restart-tic-tac-toe:hover,
#btn-transition-to-the-tic-tac-toe:hover,
#btn-transition-to-the-register:hover,
#btn-start-mysterious-way:hover,
#submit-register-character:hover,
#btn-attack-enemy:hover,
#btn-attack-weak-enemy:hover,
#btn-attack-ice-boss:hover,
#btn-start-tic-tac-toe:hover,
#btn-confirmation-who-won:hover {
	color: white;
}

#character,
#enemy,
#weak-enemy,
#ice-boss {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.health-for-all-character {
	background-color: green;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

#health-enemy,
#health-weak-enemy,
#health-ice-boss {
	background-color: red;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.name-for-all-character,
#mysterious-question-one,
#mysterious-question-two,
#mysterious-question-three,
#name-enemy,
#name-weak-enemy,
#name-ice-boss {
	color: white;
}

#text-win,
#text-lost {
	color: red;
	font-weight: bold;
	font-style: italic;
}
